body{
  font-family: 'Open Sans', sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Open Sans', sans-serif !important;
  text-align: center;
}

a{
  text-decoration: none;  
}
.section{
  overflow: hidden;

}
.scene,
.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.controlArrow.next {
  margin-right: 50px;
}
#instafeed{
  background-color: #2ecc71;
  text-align:center
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

.background {
  background-image: url('High Energy Superman.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
    -webkit-filter: brightness(1.3);
    -moz-filter: brightness(1.3);
    -ms-filter: brightness(1.3);
    filter: brightness(1.3);
  bottom: -5%;
  position: absolute;
  width: 110%;
  left: -5%;
  top: -5%;
}
.salad-logo {
  background-image: url('salad bar logo.png');
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: bottom;
  background-position-x: center;
  background-position-y: 10%;
  height: 100%;
}

.like-content{
  margin-top: 54%;
  text-align:center;
}
#gmap{
  z-index: 99;
}
